@{
    Layout = "_Layout";
}

@model Capstone.Models.Entry

<h4>Finish a task? Claim your reward!</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EntryId)
    
    @Html.LabelFor(model => model.IsComplete)
    @Html.CheckBoxFor(model => model.IsComplete)

    <input type="submit" value="Save" />
}