@{
    Layout = "_Layout";
}

@model Capstone.Models.Entry
<center>
<h2>You need parents' permission to delete this!</h2>

<div class="container p-3 bg-primary">
"@Html.DisplayFor(model => model.Title)""

@using (Html.BeginForm())
{
    <input type="submit" id="lightblue" value="Delete" />
}
</div>
@Html.ActionLink("Back to List", "ViewCompleted", "Entries")
</center>