@{
    Layout = "_Layout";
}

@using Capstone.Models
@using System

<h1 class="purples">Completed Tasks</h1>

@foreach(Entry entry in Model)
    {
        
        @if (entry.IsComplete)
        {
            <div class="container p-2 bg-primary">
                <li>
                    @entry.Kid.Name:
                    @Html.ActionLink(@entry.Title, "Delete", "Entries", new { id = @entry.EntryId })
                    
                </li>
            </div>
            <br>
        }
    }
