@{
    Layout = "_Layout";
}

@using Capstone.Models;
@using System;
@* @model Capstone.Models.Entry; *@

@* <h1>Task-olotl</h1>
<h5>Chore Tracker for Kids</h5>
<img class="axolotl3" src="~/images/axolotl3.png"> *@

<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>

<h4>Today's Agenda:</h4>
@if (Model["entries"].Length == 0)
{
    <p>All finished for today!</p>
}
<ol>
    @foreach (Entry entry in Model["entries"])
    {
        <li>@Html.ActionLink(@entry.Title, "Details", "Entries", new { id = @entry.EntryId })</li>
    }
</ol>