@{
    Layout = "_Layout";
}

@model Capstone.Models.Kid

<h2>Add a Kid</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new kid" />
}

<p>@Html.ActionLink("Show all Kids", "Index")</p>