@{
    Layout = "_Layout";
}

@model Capstone.Models.Kid

<h1 class="purples">New Kid</h2>

<div class="container p-3 bg-primary">
@using (Html.BeginForm())
{
    @* @Html.LabelFor(model => model.Name)<br> *@
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" id="lightblue" value="Add new kid" />
}
</div>

<div class="parentnav">
    @Html.ActionLink("Back to Parent Page", "ParentPage", "Home")
</div>