@{
    Layout = "_Layout";
}

@model Capstone.Models.Kid
@using Capstone.Models

<h2>Tasks for @Html.DisplayFor(model => model.Name)</h2>

@if(Model.Entries.Count == 0)
{
    <p>Your task list is empty!</p>
}
else
{
    @foreach(Entry entry in Model.Entries)
    {
        <li>@entry.Title : @entry.Description @entry.Reward</li>
    }
}